.ticket-options {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

section {
	flex: auto;
	overflow-y: auto;
	padding-bottom: 1rem;
}

.mat-list-base {
	padding: 0;
}

.mat-list-item {
	cursor: pointer;
}

.ticket-details {
	flex: auto;
	display: flex;
	align-items: center;
}

.ticket-description {
	flex: auto;
}

.ticket-assignee {
	margin: 0 1rem;
}

.mat-list-item-content button {
	flex: 0;
}
